<md-toolbar color="primary">
  <span><img src="../../assets/images/logo.png" height=30 width=41></span>
  <div fxLayout="row" fxShow="false" fxShow.gt-sm>
    <button md-button routerLink="home">Home</button>
    <button md-button routerLink="about-us">About</button>
    <button md-button routerLink="menu">Menu</button>
    <button md-button routerLink="contact-us">Contact</button>
  </div>
  <button md-button [md-menu-trigger-for]="menu" fxHide="false" fxHide.gt-sm>
    <md-icon>menu</md-icon>
  </button>
  <span class="flex-spacer"></span>
  <button md-button (click)="openLoginForm()"><span class="fa fa-sign-in"> Login</span></button>
</md-toolbar>

<md-menu x-position="before" #menu="mdMenu">
  <button md-menu-item routerLink="home">Home</button>
  <button md-menu-item routerLink="about-us">About</button>
  <button md-menu-item routerLink="menu">Menu</button>
  <button md-menu-item routerLink="contact-us">Contact</button>
</md-menu>

<div class="container jumbotron"
     fxLayout="column"
     fxLayout.gt-sm="row"
     fxLayoutGap="10px">

  <div fxFlex fxFlex.gt-sm="50%">
    <h1>Ristorante Con Fusion</h1>
    <p>We take inspiration from the World's best cuisines, and create a unique fusion experience. Our lipsmacking creations
      will tickle your culinary senses!</p>
  </div>
  <div fxFlex fxFlex.gt-sm="20%">
    <img src="../../assets/images/logo.png" alt="Logo">
  </div>
  <div fxFlex></div>
</div>
