<div class="container"
     fxLayout="row"
     fxLayout.sm="column"
     fxLayout.xs="column"
     fxLayoutGap="10px"
fxFlexAlign="">

  <div fxFlex="40" *ngIf="dish">
    <md-card>
      <md-card-header>
        <md-card-title>
          <h3>{{dish.name | uppercase}}</h3>
        </md-card-title>
      </md-card-header>
      <md-card-actions>
        <button md-icon-button [routerLink]="['/dishdetail', prev]">
          <span class="fa fa-chevron-left"></span>
        </button>
        <button md-button (click)="goBack()">Back</button>
        <button md-button>Like</button>
        <button md-button>Share</button>
        <span class="flex-spacer"></span>
        <button md-icon-button [routerLink]="['/dishdetail', next]">
          <span class="fa fa-chevron-right"></span>
        </button>
      </md-card-actions>
      <img md-card-image src={{dish.image}} alt={{dish.name}}>
      <md-card-content><p>{{dish.description}}</p></md-card-content>
    </md-card>
  </div>

  <div fxFlex="40" *ngIf="dish">
    <h3>Comments</h3>
    <md-list *ngFor="let comment of dish.comments">
      <md-list-item class="md-3-line">
        <div class="md-list-item-text" fxLayout="column">
          <div>{{ comment.comment }}</div>
          <div>{{ comment.rating }} stars</div>
          <div>-- {{ comment.author}} {{comment.date | date}}</div>
        </div>
      </md-list-item>
    </md-list>
  </div>

</div>
